<%= form_for(@product) do |f| %>
  <div class=''>
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :unit_price %><br />
	    <%= f.text_field :unit_price %>
	  </div>
	  <div class="actions">
	    <%= f.submit :class => "btn primary" %>
	  </div>
  </div>
<% end %>
